@using ConsultorioDermatologico.Models
@model List<PacienteCLS>

<table class="table table-hover table-bordered">
    <thead>
        <tr class="tdCentrar font-weight-bold">
            <td>@Html.LabelFor(p => Model[0].cedula)</td>
            <td>@Html.LabelFor(p => Model[0].nombres)</td>
            <td>Ver paciente</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.cedula</td>
                <td>@item.nombres</td>
                <td >
                    <div class="row justify-content-center">
                        @Html.ActionLink(" ", "InformacionPaciente", "HistoriaClinica", new { idPaciente = @item.idPaciente }, new { @class = "fa fa-info btn btn-success" })
                    </div>                                       
                </td>
            </tr>
        }
    </tbody>
</table>

