@using ConsultorioDermatologico.Models
@model RegistroPacienteCLS

@{
    ViewBag.Title = "Agregar";

    List<SelectListItem> listaIdentidadGenero = (List<SelectListItem>)ViewBag.listaIdentidadGenero;
    List<SelectListItem> listaOrientacionSexual = (List<SelectListItem>)ViewBag.listaOrientacionSexual;
    List<SelectListItem> listaTipoDiscapacidad = (List<SelectListItem>)ViewBag.listaTipoDiscapacidad;
    List<SelectListItem> listaEstadoCivil = (List<SelectListItem>)ViewBag.listaEstadoCivil;
    List<SelectListItem> listaLateralidad = (List<SelectListItem>)ViewBag.listaLateralidad;
    List<SelectListItem> listaNivelEducacion = (List<SelectListItem>)ViewBag.listaNivelEducacion;
    List<SelectListItem> listaReligion = (List<SelectListItem>)ViewBag.listaReligion;
}

<h2>Agregar nuevo paciente</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-6" style="padding:1em">
            <h4>Datos personales</h4>
            <div class="border" style="padding:1em">
                @*Formulario para los datos personales del paciente*@
                @using (Html.BeginForm("Agregar", "Paciente", FormMethod.Post))
                {
                    #region Formulario datos del paciente
                    <div>
                        @Html.LabelFor(p => p.paciente.nombres)
                        @Html.TextBoxFor(p => p.paciente.nombres, new { @class = "form-control col-md-12", @id = "aaa" })
                        @Html.ValidationMessage("paciente.nombres", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.apellidos)
                        @Html.TextBoxFor(p => p.paciente.apellidos, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.apellidos", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.cedula)
                        @Html.TextBoxFor(p => p.paciente.cedula, new { @class = "form-control col-md-12", @type = "number", @min = "0", @max = "9999999999" })
                        @Html.ValidationMessage("paciente.cedula", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.fechaNacimiento)
                        @Html.EditorFor(p => p.paciente.fechaNacimiento, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                        @Html.ValidationMessage("paciente.fechaNacimiento", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.idIdentidadGenero)
                        @Html.DropDownList("paciente.idIdentidadGenero", listaIdentidadGenero, null, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.idIdentidadGenero", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.idOrientacionSexual)
                        @Html.DropDownList("paciente.idOrientacionSexual", listaOrientacionSexual, null, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.idOrientacionSexual", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.ciudadNacimiento)
                        @Html.TextBoxFor(p => p.paciente.ciudadNacimiento, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.ciudadNacimiento", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.ciudadResidencia)
                        @Html.TextBoxFor(p => p.paciente.ciudadResidencia, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.ciudadResidencia", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.ocupacion)
                        @Html.TextBoxFor(p => p.paciente.ocupacion, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.ocupacion", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.profesion)
                        @Html.TextBoxFor(p => p.paciente.profesion, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.profesion", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.tipoDiscapacidad)
                        @Html.DropDownList("paciente.tipoDiscapacidad", listaTipoDiscapacidad, null, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.tipoDiscapacidad", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.porcentajeDiscapacidad)
                        @Html.TextBoxFor(p => p.paciente.porcentajeDiscapacidad, new { @class = "form-control col-md-12", @type = "number", @min = "0", @max = "100" })
                        @Html.ValidationMessage("paciente.porcentajeDiscapacidad", new { @class = "text-danger", @Value = "0" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.estadoCivil)
                        @Html.DropDownList("paciente.estadoCivil", listaEstadoCivil, null, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.estadoCivil", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.lateralidad)
                        @Html.DropDownList("paciente.lateralidad", listaLateralidad, null, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.lateralidad", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.nivelEducacion)
                        @Html.DropDownList("paciente.nivelEducacion", listaNivelEducacion, null, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.nivelEducacion", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.direccion)
                        @Html.TextBoxFor(p => p.paciente.direccion, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.direccion", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.telefonoPersonal)
                        @Html.TextBoxFor(p => p.paciente.telefonoPersonal, new { @class = "form-control col-md-12", @type = "number", @min = "0", @max = "9999999999" })
                        @Html.ValidationMessage("paciente.telefonoPersonal", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.telefonoResidencial)
                        @Html.TextBoxFor(p => p.paciente.telefonoResidencial, new { @class = "form-control col-md-12", @type = "number", @min = "0", @max = "9999999999" })
                        @Html.ValidationMessage("paciente.telefonoResidencial", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.correoElectronico)
                        @Html.TextBoxFor(p => p.paciente.correoElectronico, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.correoElectronico", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(p => p.paciente.religion)
                        @Html.DropDownList("paciente.religion", listaReligion, null, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessage("paciente.religion", new { @class = "text-danger" })
                    </div>
                    <div style="padding-top:1em">
                        <div class="border" style="padding:1em">
                            <h6 class="text-muted">Datos contacto de Emergencia</h6>
                            <div>

                                @Html.LabelFor(p => p.contactoEmergencia.nombreContactoEmergencia)
                                @Html.TextBoxFor(p => p.contactoEmergencia.nombreContactoEmergencia, new { @class = "form-control col-md-12" })
                                @Html.ValidationMessage("contactoEmergencia.nombreContactoEmergencia", new { @class = "text-danger" })
                            </div>
                            <div>
                                @Html.LabelFor(p => p.contactoEmergencia.apellidoContactoEmergencia)
                                @Html.TextBoxFor(p => p.contactoEmergencia.apellidoContactoEmergencia, new { @class = "form-control col-md-12" })
                                @Html.ValidationMessage("contactoEmergencia.apellidoContactoEmergencia", new { @class = "text-danger" })
                            </div>
                            <div>
                                @Html.LabelFor(p => p.contactoEmergencia.telefonoContactoEmergencia)
                                @Html.TextBoxFor(p => p.contactoEmergencia.telefonoContactoEmergencia, new { @class = "form-control col-md-12" })
                                @Html.ValidationMessage("contactoEmergencia.telefonoContactoEmergencia", new { @class = "text-danger" })
                            </div>
                            <div>
                                @Html.LabelFor(p => p.contactoEmergencia.correoContactoEmergencia)
                                @Html.TextBoxFor(p => p.contactoEmergencia.correoContactoEmergencia, new { @class = "form-control col-md-12" })
                                @Html.ValidationMessage("contactoEmergencia.correoContactoEmergencia", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div>
                        <input type="submit" class="btn btn-primary" value="Guardar" />
                    </div>
                    #endregion
                }
            </div>
        </div>

        <div class="col-sm-6" style="padding:1em">
            <h4>Antecedentes Clínicos</h4>
            <div class="border" style="padding:1em">
                @*Formulario para los datos personales del paciente*@
                @using (Html.BeginForm("Agregar", "HistoriaClinica", FormMethod.Post))
                {

                    @*Div checkbox para los gineco obstetricos*@
                    <div style="padding-top:1em">
                        <input type='checkbox' data-toggle='collapse' data-target='#collapsediv1' id="chkAntecedentesGO"  onchange="antecedentesGO()"/>
                        <label for="representante">Antecedentes Gineco-Obstetricos</label>
                    </div>

                    <div id='collapsediv1' class='collapse border'>
                        @*<div>
                REPRESENTANTE EL TOGGLE
                @Html.LabelFor(p => p.Item1.idRepresentante)
                @Html.TextBoxFor(p => p.Item1.nombres, new { @class = "form-control" })
                </div>*@
                        <div style="padding:1em">
                            <h6 class="text-muted">Antecedentes gineco obstetricos</h6>
                            
                        </div>


                    </div>


                    <div style="padding-top:1em">
                        <div class="border" style="padding:1em">
                            <h6 class="text-muted">Datos contacto de Emergencia</h6>

                        </div>
                    </div>

                    <div>
                        <input type="submit" class="btn btn-primary" value="Guardar" />
                    </div>
                }



            </div>



        </div>


    </div>
</div>

<footer>
    <button id="scrollToTopBtn"class="btn btn-light" style="float: right;"> <i class="fa fa-chevron-up" aria-hidden="true"></i> </button>
</footer>

<script>
    var scrollToTopBtn = document.getElementById("scrollToTopBtn")
    var rootElement = document.documentElement

    function scrollToTop() {
        // Scroll to top logic
        rootElement.scrollTo({
            top: 0,
            behavior: "smooth"
        })
    }
    scrollToTopBtn.addEventListener("click", scrollToTop)


    function antecedentesGO() {
        if ($('#chkAntecedentesGO').is(':checked')) {           
            alert("ACTIVAO");
            $('#aaa').prop("required", true); 
        }
        else {            
            alert("NONONONO ACTIVAO");
            $('#aaa').removeAttr('required')
        }
    }
</script>
