
@{
    ViewBag.Title = "Index";
}

<h2 style="padding-top:1em">Generar Documentos</h2>
<div class="row espacio">
    <div class="col-sm-2">
        <div class="row justify-content-center">
            @Html.ActionLink("Regresar", "EvolucionPaciente", "HistoriaClinica", new { idEvolucion = ViewBag.idEvolucion }, new { @class = "btn btn-outline-secondary rounded-pill llenar-espacio " })
        </div>
    </div>
</div>

<div class="container body-content">


    <div class="row d-flex flex-wrap">
        <div class=" col-sm-4 d-flex flex-column justify-content-between">
            <div class="card bg-light card-propio ">
                <div class="card-body ">
                    <h5 class="card-title">Prescripción</h5>
                    <div style="text-align: center; padding: 40px 10px;">
                        <i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i>
                    </div>
                    <p class="card-text" style="text-align:justify">Genera un documento con la información del paciente con la prescripción y recomendaciones de la consulta</p>
                </div>
                <div>
                    @Html.ActionLink("Generar documento", "prescripcionPDF", "Documentos", new { idEvolucion = ViewBag.idEvolucion, idPaciente = ViewBag.idPaciente }, new { @class = "btn btn-outline-primary", @style = "width: 100%", @target = "_blank" })
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex flex-column justify-content-between">
            <div class="card bg-light card-propio ">
                <div class="card-body ">
                    <h5 class="card-title">Certificado de reposo</h5>
                    <div style="text-align: center; padding: 40px 10px;">
                        <i class="fa fa-bed fa-4x" aria-hidden="true"></i>
                    </div>
                    <p class="card-text" style="text-align:justify">Genera un certificado de reposocon los datos del paciente en esta consulta con la fecha actual</p>
                    <p class="card-text" style="text-align:justify">Indique las fechas y horas de descanso del paciente</p>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalReposo" style = "width: 100%">
                        Generar documento
                    </button>                    
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex flex-column justify-content-between">
            <div class="card bg-light card-propio ">
                <div class="card-body ">
                    <h5 class="card-title">Certificado de asistencia</h5>
                    <div style="text-align: center; padding: 40px 10px;">
                        <i class="fa fa-calendar-check-o fa-4x" aria-hidden="true"></i>
                    </div>
                    <p class="card-text" style="text-align:justify">Genera un certificado de asitencia al consultorio con la fecha actual</p>
                </div>
                <div>
                    @Html.ActionLink("Generar documento", "asistenciaPDF", "Documentos", new { idEvolucion = ViewBag.idEvolucion, idPaciente = ViewBag.idPaciente }, new { @class = "btn btn-outline-primary", @style = "width: 100%", @target = "_blank" })
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal para elegir fechas y hora de reposo -->
<div class="modal fade" id="modalReposo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Días de descanso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @using (Ajax.BeginForm("verifica", "Documentos", null, new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "reposo",
                    UpdateTargetId = "error"
                }))
                {                   
                    <div>
                        @Html.Label("Desde")
                        <input type="date" id="fechaDesde" name="fechaDesde" class="form-control limpieza" onclose="reposo()" required>
                    </div>
                    <div>
                        @Html.Label("Hasta")
                        <input type="date" id="fechaHasta" name="fechaHasta" class="form-control limpieza" required>
                    </div>
                    <div class="modal-footer">
                        <button id="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>                       
                    </div>
                }
                <div id="error" class="text-danger"></div>
            </div>
        </div>
    </div>
</div>

<script>
    //función que recibe una respuesta desde la acción verifica del controlador indicando si la fecha es valida o no
    function reposo(rpta) {
        if (rpta == "") {
            var fechaDesde = document.getElementById("fechaDesde").value;
            var fechaHasta = document.getElementById("fechaHasta").value;
            document.getElementById("btnClose").click();
            let a = document.createElement('a');
            a.target = '_blank';
            //envío de datos al controlador para la creación del pdf
            var url = '@Url.Action("reposoPDF", "Documentos")?idEvolucion=' + @ViewBag.idEvolucion + '&idPaciente=' + @ViewBag.idPaciente + '&fechaDesde=' + fechaDesde + '&fechaHasta=' + fechaHasta;
            a.href = url;
            a.click();
        }
        else {
            alert("Error en la eleccion de las fechas")
        }
    }
</script>