@using ConsultorioDermatologico.Models
@model RegistroEvolucionCLS

@{
    ViewBag.Title = "Evolución paciente";
}

<h2 style="padding-top:1em">Información Evolución</h2>
<div id="error" class="text-danger"></div>

<input type="hidden" id="idHistoriaClinica" name="idHistoriaClinica" value=@ViewBag.idHistoriaClinica>
<input type="hidden" id="idEvolucion" name="idEvolucion" value=@ViewBag.idEvolucion>

<div class="row espacio">
    <div class="col-sm-2">
        <div class="row justify-content-center">
            @Html.ActionLink("Regresar", "Index", "Evolucion", new { idPaciente = ViewBag.idPaciente }, new { @class = "btn btn-outline-secondary llenar-espacio rounded-pill" })
        </div>
    </div>
    
    <div class="col-sm-6">
        
    </div>
    <div class="col-sm-4">
        <div class="row justify-content-center">
            @Html.ActionLink("Prescripción y certificados", "Index", "Documentos", new { idEvolucion = ViewBag.idEvolucion, idPaciente = ViewBag.idPaciente }, new { @class = "btn btn-primary llenar-espacio rounded-pill" })
        </div>
    </div>

</div>

<h5 class="text-muted" style="padding-left:1em;"> @ViewBag.nombrePaciente - Fecha de visita: @Model.evolucion.fechaVisita.ToString("yyyy-MM-dd")</h5>
<div class="row" style="padding-left:1em;">
    <div class="col-sm-1">
        <div class="row justify-content-center">
            @Html.ActionLink(" Editar", "Editar", "Evolucion", new { idEvolucion = ViewBag.idEvolucion }, new { @class = "btn btn-outline-dark llenar-espacio rounded-pill btn-sm" })
        </div>
    </div>
    <div class="col-sm-1">
        <div class="row justify-content-center">
            @Html.ActionLink("Borrar", "Desactivar", "Evolucion", new { idEvolucion = ViewBag.idEvolucion }, new { @class = "btn btn-outline-danger llenar-espacio rounded-pill btn-sm", @onclick = "desactivar();" })
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-12 espacio">
            <div class="border espacio">
                Diagrama topográfico
                <div id="divImgMapa">
                    <img class="col-sm-12 imagenFondo" id="imgFotomp" src="data:image/jpg;base64, @Model.evolucion.mapaCorporal" />
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            
            <div class="row">
                <div class="espacio col-md-6">
                    <div class="border espacio">
                        <div>
                            @Html.LabelFor(p => p.evolucion.motivoConsulta)
                            @Html.EditorFor(p => p.evolucion.motivoConsulta, new { htmlAttributes = new { @class = "form-control col-md-12", @style = "height: 8em;", @Value = Model.evolucion.motivoConsulta, @readOnly = true } })
                            @Html.ValidationMessage("evolucion.motivoConsulta", new { @class = "text-danger" })
                        </div>
                        <div>
                            @Html.LabelFor(p => p.evolucion.diagnostico)
                            @Html.EditorFor(p => p.evolucion.diagnostico, new { htmlAttributes = new { @class = "form-control col-md-12", @style = "height: 8em;", @Value = Model.evolucion.diagnostico, @readOnly = true } })
                            @Html.ValidationMessage("evolucion.diagnostico", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="espacio col-md-6">
                    <div class="border espacio">
                        <div>
                            @Html.LabelFor(p => p.evolucion.prescripcion)
                            @Html.EditorFor(p => p.evolucion.prescripcion, new { htmlAttributes = new { @class = "form-control col-md-12", @style = "height: 8em;", @Value = Model.evolucion.prescripcion, @readOnly = true } })
                            @Html.ValidationMessage("evolucion.prescripcion", new { @class = "text-danger" })
                        </div>
                        <div>
                            @Html.LabelFor(p => p.evolucion.recomendaciones)
                            @Html.EditorFor(p => p.evolucion.recomendaciones, new { htmlAttributes = new { @class = "form-control col-md-12", @style = "height: 8em;", @Value = Model.evolucion.recomendaciones, @readOnly = true } })
                            @Html.ValidationMessage("evolucion.recomendaciones", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.idAntecedenteGinecoObstetrico != null)
    {
        <div class="espacio border">
            <div class="row ">
                <div class="col-sm-3 espacio">

                    <div>
                        @Html.LabelFor(p => p.evolucion.ciclo)
                        @Html.TextBoxFor(p => p.evolucion.ciclo, new { @class = "form-control col-md-12", @id = "ago1", @readOnly = true })
                        @Html.ValidationMessage("evolucion.ciclo", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-sm-3 espacio">

                    <div>
                        @Html.LabelFor(p => p.evolucion.fechaUltimaMenstruacion)
                        @Html.EditorFor(p => p.evolucion.fechaUltimaMenstruacion, new { htmlAttributes = new { @class = "form-control col-md-12", @id = "ago2", @readOnly = true } })
                        @Html.ValidationMessage("evolucion.fechaUltimaMenstruacion", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-sm-3 espacio">

                    <div>
                        @Html.LabelFor(p => p.evolucion.vidaSexualActiva)
                        @Html.TextBoxFor(p => p.evolucion.vidaSexualActiva, new { @class = "form-control col-md-12", @id = "ago3", @readOnly = true })
                        @Html.ValidationMessage("evolucion.vidaSexualActiva", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-sm-3 espacio">

                    <div>
                        @Html.LabelFor(p => p.evolucion.metodoPlanificacionFamiliar)
                        @Html.TextBoxFor(p => p.evolucion.metodoPlanificacionFamiliar, new { @class = "form-control col-md-12", @id = "ago4", @readOnly = true })
                        @Html.ValidationMessage("evolucion.metodoPlanificacionFamiliar", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-4 espacio">
            <div class="border espacio " style="height:auto;">
                <div>
                    @Html.LabelFor(p => p.evolucion.examenFisico)
                    @Html.EditorFor(p => p.evolucion.examenFisico, new { htmlAttributes = new { @class = "form-control col-md-12", @style = "height: 8em;", @Value = Model.evolucion.examenFisico, @readOnly = true } })
                    @Html.ValidationMessage("evolucion.examenFisico", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-sm-8 espacio">
            <div class="border espacio" style="height:auto;  min-height: 10em;">
                <div class="centrar">
                    <a href="#carouselControls" role="button" data-slide="prev">
                        <span class="fa fa-chevron-circle-left" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>

                    <a href="#carouselControls" role="button" data-slide="next">
                        <span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
                <div id="carouselControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @if (@Model.foto1 != null)
                        {<div class="espacio carousel-item active">
                                <img class="img-responsive col-sm-12" id="imgFoto1" style="display:block" src="data:image/@Model.foto1.extension;base64, @Model.foto1.foto" />
                            </div>
                        }
                        @if (@Model.foto2 != null)
                        {
                            <div class="espacio carousel-item">
                                <img class="img-responsive col-sm-12" id="imgFoto2" style="display:block" src="data:image/@Model.foto2.extension;base64, @Model.foto2.foto" />
                            </div>
                        }
                        @if (@Model.foto3 != null)
                        {
                            <div class="espacio carousel-item">
                                <img class="img-responsive col-sm-12" id="imgFoto3" style="display:block" src="data:image/@Model.foto3.extension;base64, @Model.foto3.foto" />
                            </div>
                        }
                        @if (@Model.foto4 != null)
                        {
                            <div class="espacio carousel-item">
                                <img class="img-responsive col-sm-12" id="imgFoto4" style="display:block" src="data:image/@Model.foto4.extension;base64, @Model.foto4.foto" />
                            </div>
                        }
                        @if (@Model.foto5 != null)
                        {
                            <div class="espacio carousel-item">
                                <img class="img-responsive col-sm-12" id="imgFoto5" style="display:block" src="data:image/@Model.foto5.extension;base64, @Model.foto5.foto" />
                            </div>
                        }
                        @if (@Model.foto6 != null)
                        {
                            <div class="espacio carousel-item">
                                <img class="img-responsive col-sm-12" id="imgFoto6" style="display:block" src="data:image/@Model.foto6.extension;base64, @Model.foto6.foto" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <button id="scrollToTopBtn" class="btn btn-secondary espacio btn-top" style="float: right;"> <i class="fa fa-chevron-up" aria-hidden="true"></i> </button>
    <div class="espacio"> </div>
</footer>

<script>
    var scrollToTopBtn = document.getElementById("scrollToTopBtn")
    var rootElement = document.documentElement
    //Botón back to top
    function scrollToTop() {
        rootElement.scrollTo({
            top: 0,
            behavior: "smooth"
        })
    }
    scrollToTopBtn.addEventListener("click", scrollToTop)

    //Pregunta si se desea borrar (desactivar) la historia actual
    function desactivar() {
        if (confirm("¿Está seguro de querer borrar este registro de visita y toda su información relacionada  [Datos de evolución]?") == 1) {
            //pone si
            alert("Se eliminó correctamente")
        }
        else {
            //pone no
            event.preventDefault();
        }
    }
</script>