
@{
    ViewBag.Title = "Index";
    Layout = null;
    string nombreAdmin = (string)System.Web.HttpContext.Current.Session["NombreUsuario"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <style>
        .card-propio {
            margin-top: 10px 200px;
            flex: 1 150px;
            padding: 2px 0px 2px 0px;
        }
    </style>

</head>
<body>

    <header>
        <div class="espacio" style="float: right;">
            @Html.ActionLink("Cerrar sesión", "CerrarSesion", "Login", null, new { @class = "btn-outline-danger btn rounded-pill btn-cerrars" })
        </div>
    </header>

    <div class="container body-content">

        <h2>Bienvenido @nombreAdmin</h2>

        <div class="row d-flex flex-wrap espacio">
            <div class=" col-sm-6 d-flex flex-column justify-content-between">
                <div class="card bg-light card-propio ">
                    <div class="card-body ">
                        <h5 class="card-title">Registro y gestión de usuarios</h5>
                        <div style="text-align: center; padding: 40px 10px;">
                            <i class="fa fa-user-md fa-4x" aria-hidden="true"></i>
                        </div>
                        <p class="card-text" style="text-align:justify">Añadir o eliminar un nuevo usuario con rol de administrador para gestión completa del sistema</p>
                        <p class="card-text">Añadir o eliminar un nuevo usuario con rol de médico para gestión de pacientes e historias clínicas</p>
                    </div>
                    <div>
                        <a href="@Url.Action("Index","Usuario")" class="btn btn-outline-primary" style="width: 100%"> <i class="fa fa-user-plus" aria-hidden="true"></i> Añadir usuario</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex flex-column justify-content-between">
                <div class="card bg-light card-propio ">
                    <div class="card-body ">
                        <h5 class="card-title">Administración de pacientes</h5>
                        <div style="text-align: center; padding: 40px 10px;">
                            <i class="fa fa-id-card fa-4x" aria-hidden="true"></i>
                        </div>
                        <p class="card-text" style="text-align:justify">Muestra los pacientes y visitas desactivadas por un usuario médico.</p>
                        <p class="card-text" style="text-align:justify">Busque entre la lista de registros para reestablecer o eliminar definitivamente un registro.</p>
                    </div>
                    <div>
                        <a href="@Url.Action("Index","AdministracionPacientes")" class="btn btn-outline-primary" style="width: 100%"><i class="fa fa-list-ul" aria-hidden="true"></i> Listar pacientes</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>












