

@{
    ViewBag.Title = "Index";
    Layout = null;
    string nombreMedico = (string)System.Web.HttpContext.Current.Session["NombreUsuario"];
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <style>
        .card-propio {
            margin-top: 10px 200px;
            flex: 1 150px;
            padding: 2px 0px 2px 0px;
        }
    </style>
    
</head>
<body>

    

    <div class="container body-content ">
        <h2>Bienvenido @nombreMedico</h2>

        <div class="row d-flex flex-wrap espacio">
            <div class=" col-sm-6 d-flex flex-column justify-content-between">
                <div class="card  card-propio ">
                    <div class="card-body ">
                        <h5 class="card-title">Registrar un nuevo paciente</h5>
                        <div style="text-align: center; padding: 40px 10px;">
                            <i class="fa fa-ambulance fa-4x" aria-hidden="true"></i>
                        </div>
                        <p class="card-text" style="text-align:justify">Añadir la información personal de un nuevo paciente y abrir una nueva historia clínica</p>
                    </div>
                    <div>
                        <a href="@Url.Action("Agregar","Paciente")" class="btn btn-primary" style="width: 100%"><i class="fa fa-user-plus" aria-hidden="true"></i> Añadir paciente</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex flex-column justify-content-between">
                <div class="card  card-propio ">
                    <div class="card-body ">
                        <h5 class="card-title">Gestión de historias clínicas</h5>
                        <div style="text-align: center; padding: 40px 10px;">
                            <i class="fa fa-medkit fa-4x" aria-hidden="true"></i>
                        </div>
                        <p class="card-text" style="text-align:justify">Muestra una lista de los pacientes registrados en el sistema</p>
                        <p class="card-text" style="text-align:justify">Seleccione un paciente para editar, borrar datos, o aumentar una hoja de evolución a la historia clínica</p>
                    </div>
                    <div>
                        <a href="@Url.Action("Index","Paciente")" class="btn btn-primary" style="width: 100%"><i class="fa fa-search" aria-hidden="true"></i> Ver pacientes</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer>
        <div class="espacio" style="float: right;">
            @Html.ActionLink("Cerrar sesión", "CerrarSesion", "Login", null, new { @class = "btn-outline-danger btn rounded-pill" })
        </div>
        
    </footer>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>


</html>












