@using ConsultorioDermatologico.Models
@model List<UsuarioCLS>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="tdCentrar font-weight-bold">
            <td>@Html.LabelFor(p => Model[0].nombreUsuario)</td>
            <td>@Html.LabelFor(p => Model[0].rolUsuario)</td>
            <td>@Html.LabelFor(p => Model[0].aliasUsuario)</td>
            <td>@Html.LabelFor(p => Model[0].correoUsuario)</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.nombreUsuario</td>
                <td>@item.rolUsuario</td>
                <td>@item.aliasUsuario</td>
                <td>@item.correoUsuario</td>
                <td>
                    <div class="row justify-content-center">
                        <button onclick="Eliminar(@item.idUsuario)" type="button" class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#modalConfirmacion"></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

