@using ConsultorioDermatologico.Models
@model List<UsuarioCLS>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Usuarios</h2>


@*@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "divListaUsuarios",
        InsertionMode = InsertionMode.Replace
    }, new { @id = "frmFiltro" }))
    {
        @Html.Label("Buscar")
        @Html.TextBox("nombreUsuarioFltr", null, new { @class = "form-control" })
        <div id="divListaUsuarios">
            @Html.Partial("_TablaUsuarios", Model)
        </div>
    }*@


@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divListaUsuarios",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltro" }))
{
    @Html.Label("Búsqueda")
    @Html.TextBox("nombreUsuario", null, new { @class = "form-control" })
<div id="divListaUsuarios">
    @Html.Partial("_TablaUsuarios", Model)
</div>
}



<script>
    var filtro = document.getElementById("nombreUsuario");
    filtro.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }
</script>

