@using ConsultorioDermatologico.Models
@model List<UsuarioCLS>

@{
    ViewBag.Title = "Index";

    //creamos una lista tipo SelectListItem
    List<SelectListItem> lst = new List<SelectListItem>();

    //De la siguiente manera llenamos manualmente,
    //Siendo el campo Text lo que ve el usuario y
    //el campo Value lo que en realidad vale nuestro valor
    lst.Add(new SelectListItem() { Text = "MEDICO", Value = "MEDICO" });
    lst.Add(new SelectListItem() { Text = "ADMINISTRADOR", Value = "ADMINISTRADOR" });

    //Agregamos la lista a nuestro SelectList
    SelectList listaRol = new SelectList(lst, "Value", "Text");
}

<h2 style="padding-top:1em">Lista Usuarios</h2>

<!-- Button trigger del modal de agregar -->
<button onclick="Agregar()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregar">
    Agregar
</button>

@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divListaUsuarios",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltro" }))
{
    @Html.Label("Búsqueda por nombre: ")
    @Html.TextBox("nombreUsuario", null, new { @class = "form-control" })
    <div id="divListaUsuarios">
        @Html.Partial("_TablaUsuarios", Model)
    </div>
}

<!-- Modal para agregar usuarios -->
<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Ajax.BeginForm("Guardar", "Usuario", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "Guardar",
                UpdateTargetId = "error"
            }))
            {
                @Html.Hidden("titulo")
                <div class="modal-body">
                    <div>
                        @Html.Label("Nombres")
                        @Html.TextBox("nombreUsuario", null, new { @class = "form-control limpieza" })

                    </div>
                    <div>
                        @Html.Label("Apellidos")
                        @Html.TextBox("apellidoUsuario", null, new { @class = "form-control limpieza" })
                    </div>
                    <div>
                        @Html.Label("Cédula")                        
                        @Html.TextBox("cedulaUsuario", null, new { @class = "form-control limpieza", @type = "number", @min = "0", @max = "9999999999"})
                    </div>
                    <div>
                        @Html.Label("Rol Usuario")
                        @Html.DropDownList("rolUsuario", listaRol, null, new { @class = "form-control", @onchange = "Cambio()" })
                    </div>
                    <div id="divBloquear">
                        @Html.Label("Alias")
                        @Html.TextBox("aliasUsuario", null, new { @class = "form-control limpieza" })
                    </div>
                    <div>
                        @Html.Label("Contraseña")
                        @Html.Password("contraseñaUsuario", null, new { @class = "form-control limpieza", @placeholder = "*******"})
                    </div>
                    <div>
                        @Html.Label("Correo electrónico")
                        @Html.TextBox("correoUsuario", null, new { @class = "form-control limpieza" })
                    </div>
                     <div id="codigoOcultar">
                        @Html.Label("Código MSP")
                        @Html.TextBox("codigoMSP", null, new { @class = "form-control limpieza" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            }
            <div id="error"></div>
        </div>
    </div>
</div>

<!-- Modal de confirmacion-->
<div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea realmente eliminar este registro?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="espacio">
                <button type="button" id="btnCerrarConfirmacion" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="EliminarRegistro()" class="btn btn-info">Aceptar</button>
            </div>
        </div>
    </div>
</div>




<script>
    var filtro = document.getElementById("nombreUsuario");
    filtro.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }

    function Agregar() {
        Limpiar();
        document.getElementById("titulo").value = -1; 

    }
    function Guardar(resultado) {
        if (resultado == "1") {
            $("#frmFiltro").trigger("submit");
            document.getElementById("btnClose").click();
            alert("Se guardo correctamente");
        }
        else {
            if (resultado == "-1") {
                alert("El nombre de usuario ya existe en la base de datos");
                document.getElementById("error").innerHTML = "";
            }
            else if (resultado == "-2") {
                alert("El correo de usuario ya existe en la base de datos");
                document.getElementById("error").innerHTML = "";

            }
            else {
                alert("Ocurrio un error");
            }
        }
    }

    function Eliminar(idUsuario) {
        document.getElementById("titulo").value = idUsuario;

    }
    function EliminarRegistro() {
        var idUsuario = document.getElementById("titulo").value;
        //$.get("Eliminar/?idUsuario=" + idUsuario, function (data) {
        $.get('@Url.Action("Eliminar","Usuario")?idUsuario=' + idUsuario, function (data) {
            if (data == 1) {
                alert("Se ejecuto correctamente")
                document.getElementById("btnCerrarConfirmacion").click();
                $("#frmFiltro").trigger("submit");
            } else {
                alert("Ocurrio un error");
            }
        })
    }

    function Limpiar() {
        var controles = document.getElementsByClassName("limpieza");
        var control;
        for (var i = 0; i < controles.length; i++) {
            control = controles[i];
            control.value = "";
        }
        document.getElementById("error").innerHTML = "";
    }

    
    var x = document.getElementById("rolUsuario");
    var y = document.getElementById("codigoOcultar");
    function Cambio() {
        
        if (x.value == "MEDICO") {
            y.disabled = false;
            y.style.display = "block";
        }
        else {
            y.disabled = true;
            y.style.display = "none";
        }
    }

</script>

