@using ConsultorioDermatologico.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<script src="~/Scripts/esm/popper.js"></script>*@
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>


    <nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top">
        @if ((string)Session["Rol"] == "MEDICO")
        {
            <a class="navbar-brand" href="@Url.Action("Medico", "Home")"> <i class="fa fa-heartbeat fa-2x text-white" aria-hidden="true"></i></a>
        }
        else
        {
            <a class="navbar-brand" href="@Url.Action("Admin", "Home")"> <i class="fa fa-heartbeat" aria-hidden="true"></i></a>
        }

        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @if ((string)Session["Rol"] == "MEDICO")
                {
                    <li class="navbar-left">@Html.ActionLink("Registro Paciente", "Agregar", "Paciente", new { area = "" }, new { @class = "navbar-brand text-dark" })</li>
                    <li class="navbar-left"> @Html.ActionLink("Buscar Paciente", "Index", "Paciente", new { area = "" }, new { @class = "navbar-brand text-dark" })</li>
                    <li class="navbar-left">@Html.ActionLink("CIE-10", "Index", "Cie10", new { area = "" }, new { @class = "navbar-brand text-dark", @target = "_blank" })</li>
                }
                else
                {
                    <li class="navbar-left navbar-brand text-dark">@Html.ActionLink("Usuarios", "Index", "Usuario", new { area = "" }, new { @class = "" })</li>
                    <li class="navbar-left">@Html.ActionLink("Administración pacientes", "Index", "AdministracionPacientes", new { area = "" }, new { @class = "navbar-brand text-dark" })</li>                    
                }
                <li class="navbar-right">@Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Login", new { area = "" }, new { @class = "navbar-brand text-dark" })</li>
                
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>