<h3>Pacientes desactivados</h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="tdCentrar">
            <td>id Paciente</td>
            <td>Cédula</td>
            <td>Paciente</td>
            <td>id historia clínica</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.listaPacientesDesactivados)
        {
            <tr>
                <td>@item.idPaciente</td>
                <td>@item.cedula</td>
                <td>@item.nombres</td>
                <td>@item.idHistoriaClinica</td>
                <td class="tdCentrar">
                    <button onclick="EliminarPaciente(@item.idPaciente)" type="button" class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#modalConfirmacion"></button>
                    <button onclick="ReestablecerPaciente(@item.idPaciente)" type="button" class="btn btn-success fa fa-trash" data-toggle="modal" data-target="#modalConfirmacion"></button>
                </td>
            </tr>

        }

    </tbody>
</table>

<h3>Visitas eliminadas</h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="tdCentrar">
            <td>id Paciente</td>
            <td>Cédula</td>
            <td>Paciente</td>
            <td>id historia clínica</td>
            <td>id evolución</td>
            <td>Fecha Visita</td>
            <td>Motivo consulta</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.listaEvolucionesDesactivadas)
        {
            <tr>
                <td>@item.idPaciente</td>
                <td>@item.cedula</td>
                <td>@item.nombresPaciente</td>
                <td>@item.idHistoriaClinica</td>
                <td>@item.idEvolucion</td>
                <td>@item.motivoConsulta</td>
                <td>@item.fechaVisita.ToString("yyyy-MM-dd")</td>
                <td class="tdCentrar">
                    <button onclick="EliminarVisita(@item.idEvolucion)" type="button" class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#modalConfirmacion"></button>
                    <button onclick="ReestablecerVisita(@item.idEvolucion)" type="button" class="btn btn-success fa fa-trash" data-toggle="modal" data-target="#modalConfirmacion"></button>
                </td>
            </tr>
        }

    </tbody>
</table>
